$color-white: white;

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 12%;
}

th {
  font-size: 14px;
}

.text-hidden {
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

tr:hover {
  background-color: #4AAFE3;
  
  td {
    color: $color-white;
  }
}

td {
  cursor: pointer;
}