<div class="container container-trips">
  <h2>Viagens</h2>
  <mat-form-field appearance="standard">
    <mat-label>Digite para filtrar pelas viagens</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. nome" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row" (click)="openMoreInfoTrips(row.order)">
          <div class="text-hidden">
            {{row.order}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Origem</th>
        <td mat-cell *matCellDef="let row" (click)="openMoreInfoTrips(row.order)">
          <div class="text-hidden">
            {{row.startPointTitle}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Destino</th>
        <td mat-cell *matCellDef="let row" (click)="openMoreInfoTrips(row.order)">
          <div class="text-hidden">
            {{row.endPointTitle}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distância</th>
        <td mat-cell *matCellDef="let row" (click)="openMoreInfoTrips(row.order)">{{row.kmRide}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let row" (click)="openMoreInfoTrips(row.order)">{{row.date}}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
        <td mat-cell *matCellDef="let row" (click)="openMoreInfoTrips(row.order)">
          <div class="text-hidden">
            {{row.hour}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
        <td mat-cell *matCellDef="let row" (click)="openMoreInfoTrips(row.order)">{{row.price}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Sem dados</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 75, 100]"></mat-paginator>
  </div>
</div>