
.info-more {
  display: flex;
  flex-direction: column;

  &__documentos-picture {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    padding: 5px;
  }
}

ul, li {
  font-size: 16px;
}

.status-waiting {
  color: red;
}

.status-success {
  color: green;
}

.driver-modal {
  justify-content: space-between;
  position: relative;
  bottom: 10px;

  &__icon {
    position: relative;
    bottom: 2px;
  }
}

.button-cancel {
  font-size: 30px;
  cursor: pointer;
}

.content-lock-and-name {
  display: flex;
  h1 {
    margin-bottom: 0px;
    display: flex;
    align-self: center;
    padding-left: 10px;
  }
}