<div class="main-panel w-full">
  <div class="content-fluid">
    <div class="row">
      <div class="col-lg-12 grid-margin wrapper-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Usuarios</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Nome
                    </th>
                    <th>
                      Sobrenome
                    </th>
                    <th>
                      CPF
                    </th>
                    <th>
                      Data de Nascimento
                    </th>
                    <th>
                      E-mail
                    </th>
                    <th>
                      Celular
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of dataList">
                    <td>
                      {{item?.nome}}
                    </td>
                    <td>
                      {{item.sobrenome}}
                    </td>
                    <td>
                      {{item.cpf}}
                    </td>
                    <td>
                      {{item.datadenascimento}}
                    </td>
                    <td>
                      {{item.email}}
                    </td>
                    <td>
                      {{item.celular}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>