
$table-width-driver: 1400px;
$color-green: green;
$color-red: red;
$color-white: white;

.card {
  height: 500px;
  overflow-y: scroll;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 12%;
}

th {
  font-size: 14px;
}

.pr-5 {
  padding-right: 5px;
}

.text-align-center {
  text-align: center;
}

tr:hover {
  background-color: #4AAFE3;
  
  td {
    color: $color-white;
  }
}

td, label{
  cursor: pointer;
}