<div class="main-panel">
  <div class="content-fluid">
    <div class="row">
      <div class="col-lg-12 grid-margin wrapper-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Motoristas</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Nome
                    </th>
                    <th>
                      Sobrenome
                    </th>
                    <th>
                      CPF
                    </th>
                    <th>
                      Data de Nascimento
                    </th>
                    <th>
                      E-mail
                    </th>
                    <th>
                      Estado
                    </th>
                    <th>
                      Celular
                    </th>
                    <th>
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of dataList">
                    <td>
                      {{item?.nome}}
                    </td>
                    <td>
                      {{item.sobrenome}}
                    </td>
                    <td>
                      {{item.cpf}}
                    </td>
                    <td>
                      {{item.datadenascimento}}
                    </td>
                    <td>
                      {{item.email}}
                    </td>
                    <td>
                      {{item.Estado}}
                    </td>
                    <td>
                      {{item.celular}}
                    </td>
                    <td *ngIf="item.cnh && item.crlv && item.comprovante_residencia; else other_content">
                      <label class="badge badge-success color-green">Concluído</label>
                    </td>
                    <ng-template #other_content>
                      <td>
                        <label class="badge badge-danger color-red">Pendente</label>
                      </td>
                    </ng-template>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>