@import "~bootstrap/dist/css/bootstrap.css";

.w-full {
  width: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

app-users {
  width: 100%;
  .container-user {
    padding: 1.0rem 1.0rem 1.0rem 1.0rem;
  }
}

app-drivers {
  width: 100%;
  position: relative;
  .container-driver {
    padding: 1.0rem 1.0rem 1.0rem 1.0rem;
  }
}

app-trips-list {
  width: 100%;
  position: relative;
  .container-trips {
    padding: 1.0rem 1.0rem 1.0rem 1.0rem;
  }
}

app-to-sign-list {
  width: 100%;
  position: relative;
  .container-to-asign {
    padding: 1.0rem 1.0rem 1.0rem 1.0rem;
  }
}

mat-dialog-container {
  padding: 0px !important;
}


.blue-snackbar {
  background: #4AAFE3;
  color: white;
}

.blue-snackbar button {
  background-color: #4AAFE3;
  color: white;
  border: none;
}

.color-grey {
  color: grey;
}

.color-red {
  color: red;
}

.no-radius-border {
  border-radius: 0;
}

.text-align-center {
  text-align: center;
}

.sidebar .nav .nav-item.active {
  margin-right: 5px;
}

.sidebar .nav .nav-item {
  margin-right: 5px;
}

.sidebar .nav .nav-item.active > .nav-link .menu-title {
  font-size: 15px;
}