$color-green: green;
$color-red: red;
$color-white: white;


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 12%;
}

th {
  font-size: 14px;
}

.color-success {
  color: $color-green;
  background-color: $color-white;
}

.color-waiting {
  color: $color-red;
  background-color: $color-white;
}
